<a href="#navbar" id="menu-burger" class="menu-burger">Menu
  <span class="nav-icon"></span>

  <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
    <circle fill="transparent" stroke="#000000" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
  </svg>
</a>

<div id="navbar" class="navbar">
  <div class="navigation-wrapper">
    <div class="half-block">
      <nav>
        <ul class="primary-nav">
          {% for link in site.nav %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          <li><hr/></li>
          {% for link in site.repos %}
            <li><a target="_blank" href="{{ link.url }}"><i class="icon icon-github"></i> {{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>
